/.gradle
/.idea
/testing
/build
/conf

/console
/graphical
/operating-system
/atmega

*.HEX

jaxon.jar
jaxon.exe
dependency-reduced-pom.xml
*.build_artifacts.txt
build.exe.bat
build.exe.init.bat
build.exe.post.bat